$react-media-lfixed-rauto-options:(

)!default;

@import 'node_modules/webkit-sassui-flex-lfixed-rauto/dist/webkit-sassui-flex-lfixed-rauto.scss';
@import 'node_modules/webkit-sassui-flex-justify/dist/webkit-sassui-flex-justify.scss';
.react-media-lfixed-rauto{
  color:#000;
  &-left{
    img{
      vertical-align: top;
    }
  }
  &-right{
    &[data-justify=space-between]{
      align-content: space-between;
    }

    &[data-justify=space-around]{
      align-content: space-around;
    }
  }
}
